.header{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header-logo{
    height: 50px;
    object-fit: contain;
    margin-left: 20px;

}
.header-middle{
    display: flex;
    align-items: center;
    width: 35%;
    border: 1px solid rgb(209, 209, 209);
}
.header-middle input{
    border:none;
    flex: 1;
    padding-left: 15px;
}
.search-icon{
    width: 50px !important;
    background-color: #fafafa;
}
.header-right{
    display: flex;
    align-items: center;
}
.header-icons{
    margin-right: 12px;
}